{
	"Clusters": {
		"desired_configs": {
			"type": "oozie-site",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": { {% raw %}
        "oozie.action.retry.interval" : "30",
        "oozie.authentication.simple.anonymous.allowed" : "true",
        "oozie.authentication.type" : "simple",{% endraw %}
        "oozie.base.url" : "http://{{ groups['OOZIE_SERVER'][0] }}:11000/oozie",{% raw %}
        "oozie.credentials.credentialclasses" : "hcat=org.apache.oozie.action.hadoop.HCatCredentials,hive2=org.apache.oozie.action.hadoop.Hive2Credentials",
        "oozie.db.schema.name" : "oozie",
        "oozie.service.AuthorizationService.security.enabled" : "true",
        "oozie.service.HadoopAccessorService.hadoop.configurations" : "*={{hadoop_conf_dir}}",
        "oozie.service.HadoopAccessorService.kerberos.enabled" : "false",{% endraw %}
        "oozie.service.JPAService.jdbc.driver" : "{% if database_type == "mysql" or database_type == "mariadb" %}com.mysql.jdbc.Driver{% elif database_type == "postgres" %}org.postgresql.Driver{% else %}org.apache.derby.jdbc.EmbeddedDriver{% endif %}",
        "oozie.service.JPAService.jdbc.password" : "{{ database_oozie_user_password }}",
        "oozie.service.JPAService.jdbc.url" : "{% if database_type == "mysql" or database_type == "mariadb" %}jdbc:mysql://{{ database_server }}/{{ database_oozie }}{% elif database_type == "postgres" %}jdbc:postgresql://{{ database_server }}/{{ database_oozie }}{% else %}jdbc:derby:${oozie.data.dir}/${oozie.db.schema.name}-db;create=true{% endif %}",
        "oozie.service.JPAService.jdbc.username" : "{{ database_oozie_user }}",{% raw %}
        "oozie.service.SparkConfigurationService.spark.configurations" : "*=spark-conf",
        "oozie.service.URIHandlerService.uri.handlers" : "org.apache.oozie.dependency.FSURIHandler,org.apache.oozie.dependency.HCatURIHandler",
        "oozie.services.ext" : "\n      org.apache.oozie.service.JMSAccessorService,org.apache.oozie.service.PartitionDependencyManagerService,org.apache.oozie.service.HCatAccessorService" {% endraw %}
      }
    }
  }
}
