{
	"Clusters": {
		"desired_configs": {
			"type": "ranger-{{ in_services|lower }}-policymgr-ssl",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": {
        "xasecure.policymgr.clientssl.keystore" : "/usr/hdp/current/hadoop-client/conf/ranger-yarn-plugin-keystore.jks",{% raw %}
        "xasecure.policymgr.clientssl.keystore.credential.file" : "jceks://file{{credential_file}}",{% endraw %}
        "xasecure.policymgr.clientssl.keystore.password" : "changeit",
        "xasecure.policymgr.clientssl.truststore" : "/usr/hdp/current/hadoop-client/conf/ranger-yarn-plugin-truststore.jks",{% raw %}
        "xasecure.policymgr.clientssl.truststore.credential.file" : "jceks://file{{credential_file}}",{% endraw %}
        "xasecure.policymgr.clientssl.truststore.password" : "changeit"
      }
    }
}
}
